*{
  text-align: center;
}

body {

  background-color: rgba(155, 138, 106, 0.836);
  font-size: large;
  padding: 5;
  counter-reset: verso div;
  border-spacing: 10px;
  border: black 2px solid;

}


h1 {
  margin-left: 10;
  color: rgb(11, 116, 207);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px 2px brown;
}

h2 {

  margin-left: 20;
  color:black;
  border: black 2px solid;
  margin-left: 25%;
  margin-right: 25%;
}

div{
  margin-right: 10%;
  margin-left: 10%; 
  margin-bottom: 5%; 
  background-color: black;
  color: aliceblue;
  font-size: large;

}

p{
  font-size: x-large;
  margin-top: 5;
  margin-bottom: 5;
  background-color: rgb(208, 145, 73);

}



div::before{

  counter-increment: div;
  content: "Norma " counter(div) ;

}

span{

  background-color: rgb(140, 0, 255);
  font-style:oblique;
  color: black;
  font-weight: bold;

}
