*{
  text-align: center;
}

body {

  background-color: rgba(155, 138, 106, 0.836);
  font-size: large;
  padding: 5;
  counter-reset: verso div;
  border-spacing: 10px;
  border: black 2px solid;

}


h1 {

  margin-left: 10;
  padding: 20;
  color: aliceblue;
  font-style: var(Monaco);
  border: black 2px solid;

}

h2 {

  margin-left: 20;
  color:black;
  border: black 2px solid;
  margin-left: 25%;
  margin-right: 25%;
}

div{
  margin-left: 25%;
  margin-right: 25%;
  background-color: black;
  color: aliceblue;
  font-size: large;

}

p{

  margin-top: 5;
  margin-bottom: 5;
  margin-left: 5; 
  background-color: rgb(182, 126, 61);

}

p::before{

  counter-increment: linea;
  content: "" counter(linea) ": ";

}

div::before{

  counter-increment: div;
  content: "Norma " counter(div) ": ";

}

span{

  background-color: rgb(140, 0, 255);
  font-style: italic;
  color: rgb(233, 152, 226);
  font-weight: bold;

}
