body {
    background-image: url(cat5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
    margin: 0;
    padding: 0;
  }
  
  .container {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    padding: 10px;
    justify-content: space-between;
  }
  
  .logo {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
  }
  
  .menu {
    background-color: #8e44ad;
    color: #fff;
    padding: 10px;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu a {
    display: block;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    background-color: #8e44ad;
    transition: background-color 0.3s;
  }
  
  .menu a:hover {
    background-color: #fff;
    color: #8e44ad;
  }
  
  #cuadro {
    margin-left: 30px; /* Ajusta el valor según tu preferencia */
    padding: 20px;
    background-color: #fff;
    color: #000;
  }
  